@using BackendApi.ViewModels
@using BackendApi.Extensions
@using System.Text.RegularExpressions
@model ClienteViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <!-- Conteudo da Página-->
    <div class="container">
        <div class="align-items-center justify-content-between mb-4 mt-5">
            <h1 class="h3 mb-0 text-gray-800 text-center">Clientes</h1>
        </div>
        <!--Search-->
        @{
            await Html.RenderPartialAsync("_Search.cshtml");
        }
        <div class="card shadow mb-4">
        @{
            await Html.RenderPartialAsync("_SubTitle.cshtml");
        }
         <div class="table-responsive">
          <div class="card-body">
            <form asp-route="createfromclient" method="post">
                <table class="table table-striped cor" id="tbl1">
                    <thead>
                        <tr class="info-card">
                            <th scope="col">Nome</th>
                            <th scope="col">Situação</th>
                            <th scope="col">CNPJ/CPF - 99</th>
                            <th scope="col">Código</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Contato</th>
                            <th scope="col">Info</th>
                            <th scope="col">Realizar Pedido</th>
                        </tr>
                    </thead>
                    <tbody id="tbody1">
                        @foreach(var cliente in Model.Clientes)
                        {
                            <tr>
                                <td scope="row">@cliente.NomCli</td>
                                <td>@(cliente.SitCli == "A" ? "Ativo" : "Inativo")</td>
                                <td>@Convert.ToUInt64(cliente.Cgccpf).ToString(@"00\.000\.000\/0000\-00")</td>
                                <td>@cliente.CodCli</td>
                                <td>@cliente.Endereco</td>
                                <td>@cliente.Contato</td>
                                <td>
                                    <button type="button"
                                            class="btn-info-cliente btn corelementos"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop"
                                            data-id=@cliente.CodCli>
                                            <i class="fa fa-info-circle"></i>
                                    </button>
                                </td>
                                <td>
                                    <input type="hidden" readonly value=@cliente.CodCli name="codcli" />
                                    <button type="submit"
                                            class="btn-info-cliente btn corelementos"
                                            data-id="">
                                        <i class="fa fa-info-circle"></i>
                                    </button>
                                </td>
                            </tr>    
                        }
                    </tbody>
                </table>
             </form> 
          </div>
        </div>
        </div>
    </div>
    <!-- Modal -->
    @{
        await Html.RenderPartialAsync("_Modal.cshtml");
    }

    <a class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
    
    <script src="~/javascript/searchbar.js"></script>
    <script src="~/javascript/request.js"></script>
</body>
